.hero-lounge {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/images/dance-img.jpg');
    height: 60vh;
    background-size: cover;
    background-position: center;
}

.cocktail-card {
    border: none;
    transition: transform 0.3s;
}

.cocktail-card:hover {
    transform: scale(1.05);
}
